.projectOrg {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  flex-basis: content;
  align-content: center;
  align-items: stretch;
  row-gap: 15px;
}

@media (min-width: 900px) {
  .projectOrg {
    flex-direction: row;
  }
}

@media (max-width: 900px) {
  .projectOrg {
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
}
