.project div{
    display: inline-block;
    background-color: lightcoral;
    height: 200px;
    width: 40%;
    border-radius: 0 0 0 50px;
}

.project p{
    display: inline-block;
    width: 60%;
    height: 200px;
    background-color: khaki;
    margin-top: 0;
    margin-bottom: 0;

    border-radius: 0 15px 15px 0;
}