.projectsPreview {
  position: relative;
  top:10px;
  bottom:1000px;
  width: 80%;
  text-align: center;
  margin-bottom: 100px;
  overflow-y: auto;
}

.projectsPreview li {
  position: relative;
  list-style: none;
  border-radius: 15px, 50px;

  color: black;

  display: inline-block;

  text-align: center;
}
