header {
  background-color: #ffffff;
  position: static;
  min-width: 850px;
  height: 100%;
}

.mobileMenuNavigationWindow
{
  display: none;
}

.mainNav {
  /* position: relative; */
  width: 100%;

  font-size: 1.5rem;
  font-weight: 700;
}

.mainNav .logo {
  position: relative;
  left: 5%;
  width: 150px;
  height: 120px;
  line-height: 118.9px;
  text-align: center;

  display: inline-block;
  font-size: 48px;

  background-color: white;
  color: black;

  border-radius: 50px;
}

.menuIcon{
  display: none;
}

.mainNav .logo:hover,
label:hover {
  cursor: pointer;
}

.mobileHeader {
  display: none;
}

.clickedNav{
  top:-5px;
  border: 0;
}

@media (max-width: 900px) {
  header {
    background-color: #ffffff;
    position: relative;
    max-width: 900px;
    min-width: 0px;
    padding: 20px;
    z-index: 0;
  }

  .show{
    display: inline-block;
  }
  
  .hide{
    display: none;
  }

  .mobileMenuNavigationWindow
  {
    position: absolute;
    height: 120px;
    right:0;
    top:0;
    z-index: 1;
    padding:20px;

    border-radius: 0 0 0 20px;
  }

  .plantLogo{
    display: none;
    position: absolute;
    -webkit-position: absolute;

    top:50%;
    transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
  }

  .plantLogo img{
    max-height: 100px;
    object-fit:cover;
  }

  .mainNav,
  .mainNav .logo {
    display: none;
  }

  .mobileHeader {
    position: static;
    display: block;
    width: 100%;
    text-align: center;
  }

  .mobileHeader img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .logo{
    font-size: 4rem;
  }

  .menuIcon{
    position:absolute;
    display: inline-block;
    height: 35px;
    width: 35px;
    right: 30px;
    top:50%;
    transform: translate(0,-50%);
  }

  /* .menuIcon svg{
    height: 60px;
    width: 60px;
  } */
}
