nav {
  position: absolute;
  display: inline-block;
  top: 60px;
  transform: translate(0, -15px);
  right: 66px;
}

nav li {
  position: relative; /*Just now added*/
  top: auto;
  list-style: none;
  display: inline-block;
  margin-right: 24px;
  color: black;
  border-bottom: black 3px solid;
  padding-bottom: 2px;
}

nav li:hover {
  border-color: white;
  cursor: pointer;
}

@media(max-width: 900px){
  nav{
    display: flex;
    height: 100%;
    justify-content:space-evenly;
    position: relative;
    flex-direction: column;
    transform: translate(0,0);
    top:0;
    right: 0;
    z-index: 1;
    text-align: center;
  }

  nav li {
    text-align: center;
    list-style: none;
    display: inline-block;
    color: white;
    padding-bottom: 2px;
    margin-right: 0;
    border-bottom: 0;
  }

  .invisible{
    display:none;
  }

  
}

