footer {
  display: none;
  height: 100%;
  background-image: linear-gradient(to right, #467ba9 10%, #8a69fc 80%, #c847ff);

  padding: 30px 10px;

}
.contactList {
  display: flex;
  flex-flow: column;

  align-items: flex-start;
  font-size: 20px;

  text-align: right;

  margin-top: 10px;

  color: white;
  list-style-type: none;

  margin-block-start: 0;
  margin-block-end: 0;
}

.contactList li:hover {
  cursor: pointer;
  text-decoration: none;
}

.title{
  /* display: block; */
  font-size: 2rem;
  margin: auto;
  text-align:center;
  color:white;
}

.mainFooterContactDiv{
  width: 50%;
  height: 100%;
  padding:20px;
}

@media (max-width: 900px) {
  footer{
    display: block;
  }
  .title {
    position: relative;
    left: 50%;
    transform: translate(-50%,0);

    font-size: 1.2rem;
    color: white;
    text-align: center;
    border-bottom: 0.5px solid white;
    border-width: 1px;
    border-color: darkgray;
    padding-bottom: 10px;
    display: inline-block;
  }

  .contactList {
    font-size: 1rem;
    text-align: left;
    padding-bottom: 0;
  }

  .contactList li {
    display: block;

  }

  .contactList li:last-child {
    margin-bottom: 0px;
  }

  .contactList li a {
    text-decoration: none;
    color: white;
  }

  .contactList li label{
    color:#00C9A7;
    font-size: 1.2rem;
  }

  .mainFooterContactDiv{
    width: 100%;
    position: absolute;
    bottom:0;
  }
}
