.dialogContainer{
    position: relative;
    left:50%;

    transform: translate(-50%,0);
    
    align-items: center;
    height: 26.625rem;   
}

.dialogContainer .titleContainer{
    position: relative;

    height: 11.25rem;
    width: 30%;

    display: inline-block;

    background-color: rgba(196, 196, 196, 0.2);
}

.mainContentContainer{
    position: absolute;
    display: inline-block;
    width: 70%;
    height: 100%;
    
    background-color: rgba(196, 196, 196, 0.4);
}

.mainContentContainer label{
    cursor:default;

    position: absolute;
    left:20px;
    top:20px;
    bottom: -20px;
    right: 20px;

    height: calc(426px - 40px);

    font-size: 1.125rem;

}

.shortDescriptionContainer{
    position: absolute;
    display: inline-block;
    width: 30%;
    bottom:0px;
    left: 0;
    height: calc(426px - 180px);
    color: black;

    background-color:#FFFFFF;
}

.titleContainer label,
.shortDescriptionContainer label{
    cursor:default;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:black;

    text-align: center;
}

.titleContainer label{
    font-size: 3rem;
}


.shortDescriptionContainer label{
    font-size: 1.5rem;
}

@media (max-width: 900px){
    .dialogContainer{
        display: none;
    }
}