.projectCard {
  width: 325px;
  height: 250px;
}

.projectTitle {
  position: relative;
  height: 7.8125rem;
  width: 100%;
  background-color: rgba(196, 196, 196, 0.2);
  font-size: 1rem;
}

.projectShortDescription {
  position: relative;
  width: 100%;
  height: 7.8125rem;
  font-size: 0.75rem;
}

.projectTitle label,
.projectShortDescription label {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
