.projectCard {
  position:relative;
  max-width: 400px;
  min-width: 300px;
  width: 85%;
  height: 250px;
  border-radius: 5px;
  color:black;

}

.projectTitle {
  position: relative;
  height: 35%;
  width: 100%;
  /*background-color: rgba(196, 196, 196,0.4); */
  background-image: linear-gradient(to bottom, #845ec2, #7658a5, #685189, #5a4b6d, #4b4453);
  /*border-radius: 20px 5px 20px 5px;*/
  font-size: 1rem;
  color: white;
}

.projectShortDescription {
  position: relative;
  width: 100%;
  height: 65%;
  font-size: 1rem;
}

.projectTitle h3{
  position: relative;
  text-align: center;
  top:50%;
  transform: translate(0,-50%);
  margin-block-start: 0;
  font-size:1.5rem;

}

.projectShortDescription p{
  position: relative;
  top:10px;
  width: 90%;
  margin: auto;
}


