header {
  background-color: black;
}

.mainNav {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-right: 10px;

  margin-top: 2rem;
  margin-bottom: 10px;

  font-size: 30px;
  font-weight: 700;
}

.mainNav .logo {
  display: inline-block;
  text-align: left;
  font-weight: 900;
  font-size: 50px;

  background-color: white;
  color: black;
  border: 2px solid white;

  margin-left: 4rem;
  border-radius: 30%;

  padding: 10px;
}

.mainNav nav {
  vertical-align: middle;
  padding-bottom: 0;
  line-height: 85px;
  float: right;
}

.mainNav nav li {
  list-style: none;
  display: inline-block;
  margin-right: 40px;
  color: white;
  border-bottom: black 9px solid;
}

.mainNav nav li:hover {
  border-color: white;
}
