.dialogContainer {
  position: relative;
  display: block;

  margin:auto;

  margin-bottom: 50px;

  border-bottom: 10px solid black;
}

.dialogContainer .titleContainer {
  position: relative;
  height: 100px;
  background-color: rgba(192, 192, 192, 0.6);
}

.titleContainer label {
  cursor: default;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 2rem;
}

.contentContainer label {
  cursor: default;
  max-width: inherit;
  /* height: calc(100% - 116px - 40px); */
  /* position: absolute; */
  top: calc(116px + 20px);
  right: 20px;
  left: 20px;

  font-size: 1.5rem;
}

@media (max-width: 900px){
  /* .dialogContainer{
      display: none;
  } */
}
