html {
  max-width: 100%;
}
body {
  position: relative;
  background-color: white;
  font-family: 'Julius Sans One', sans-serif;
  margin: 0;
  padding: 0;
  color: black;
}
.listStyle {
  margin-top: 0;
}
