.basicMessageStyle{
    position: relative;
}
.basicMessageStyle h2{
    font-weight: 700;
    font-size: 3rem;
}
.basicMessageStyle p{

    left:4rem;

    font-weight: 500;
    font-size: 1.6rem;

    border-left: 2px solid white ;
    padding-left: 10px;

    max-width: 50rem;
}