.bodyStyle {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.mainBody {
  position: relative;
  display: inline-block;
  left: 352px;
  top: 77px;
  height: 800px;

  font-size: 3.5rem;

  line-height: 70px;

  background-image: url("../../img/Illustration.svg");
  background-repeat: no-repeat;
  background-size: 700px;
  background-position: 70% 100%;
}

.mainBody label {
  position: relative;
  display: block;

  cursor: default;
}

.mobileBody {
  display: none;
}

@media (max-width: 900px) {
  .mainBody {
    display: none;
  }

  .mobileBody {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    height: 450px;
  }

  .mobileBody ul {
    text-align: left;
    list-style: none;
  }

  .mobileBody h1 {
    text-align: center;
    margin-top: 10px;
    font-size: 1.5rem;
  }

  .projectCentering {
    margin: auto;
  }
}
