.bodyStyle {
  height: 100%;
  width: 70%;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 20px;
}

.mainBody {
  height: 100%;
  width: 70vw;

  border-radius: 30px;

  margin: auto;
  margin-block-start: 50px;
  margin-block-end: 50px;

  padding: 20px 0px;


  font-size: 3.5rem;

  line-height: 70px;

  background-image: url("../../img/backgroundImage/titleBackground.png");
  background-repeat: no-repeat;
  /* background-size: auto; */
  background-size: 100vw;
  background-position-y: 50%;
  text-align: center;

  color: white;
}

.mainBody h1{
  font-size: 4rem;
}

.mainBody label {
  position: relative;
  display: block;

  cursor: default;
}

.mobileBody {
  display: none;
}

@media (max-width: 900px) {

  .bodyStyle,
  .mainBody {
    width: 90vw;
  }

  .bodyStyle img {
    position: absolute;
    left: 50%;
  }

  .mobileBody ul {
    text-align: left;
    list-style: none;
  }

  .mainBody h1 {
    text-align: center;
    margin-top: 10px;
    font-size: 2rem;

    margin-block-end: 10px;
    margin-block-start: 10px;
  }

  .projectCentering {
    margin: auto;
  }
}
