.bodyStyle {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.mainBody {
  position: relative;
  display: inline-block;
  left: 50%;
  top: 77px;
  height: 100vh;
  width: 100vw;
  max-width: 1000px;
  max-height: 600px;

  border-radius: 50px;

  transform: translate(-50%,0);

  font-size: 3.5rem;

  line-height: 70px;

  background-image: url('../../img/background.png');
  background-repeat: no-repeat;
  background-size:auto;
}

.mainBody label {
  position: relative;
  display: block;

  cursor: default;
}

.mobileBody {
  display: none;
}

.bodyStyle img {
  position: relative;
  top:20px;
  width: 100%;
  transform: translate(30%,0);
  object-fit: contain;
  z-index: -1;
  float:right;

}

@media (max-width: 900px) {
  .mainBody {
    display: none;
  }

  .mobileBody {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    height: 450px;
  }

  .bodyStyle img {
    position: absolute;
    left: 50%;
  }

  .mobileBody ul {
    text-align: left;
    list-style: none;
  }

  .mobileBody h1 {
    text-align: center;
    margin-top: 10px;
    font-size: 1.5rem;
  }

  .projectCentering {
    margin: auto;
  }
}
