footer {
  position: static;
  bottom: 0;
  /* top: calc(1041px - 100px); */
  /* top: 95vh; */
  min-width: 345px;

  background-color: green;
  width: 100%;
  margin-top: 10px;
  padding-bottom: 20px;
}
.contactList {
  font-weight: 500;
  font-size: 30px;

  text-align: right;

  margin: 0;

  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
  padding-bottom: 1rem;

  color: white;
}

.contactList li {
  display: inline-block;
  padding-right: 2.9rem;
}

.contactList li:hover {
  cursor: pointer;
}

@media (max-width: 900px) {
  footer{
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .title {
    position: relative;
    left: 50%;
    transform: translate(-50%,0);

    font-size: 0.9rem;
    color: white;
    text-align: center;
    border-bottom: 0.5px solid white;
    border-width: 1px;
    border-color: darkgray;
    padding-bottom: 10px;
    display: inline-block;
    
  }
  .contactList {
    font-size: 0.9rem;
    text-align: center;
    padding-bottom: 0;
  }

  .contactList li {
    display: block;
    margin-bottom: 10px;
    padding-right: 0rem;
  }

  .contactList li:last-child {
    margin-bottom: 0px;
    padding-bottom: 10px;
  }

  .contactList li a {
    text-decoration: none;
    color: white;
  }
}
