footer{
  position: relative;
  bottom:0%;
  /* top: calc(1041px - 100px); */
  /* top: 95vh; */

  background-color: black;
  width: 100%;
  margin-top: 10px;
}
.contactList {

  font-weight: 500;
  font-size: 30px;

  text-align: right;

  margin:0;

  padding-top:0rem;
  padding-right:0rem;
  padding-left:0rem;
  padding-bottom:1rem;

  color: white;
}

.contactList li {
  display: inline-block;
  padding-right: 2.9rem;
}

.contactList li:hover {
  cursor: pointer;
}
