header {
  background-color: #ffffff;
  position: static;
  min-width: 850px;
}

.mainNav {
  position: relative;
  width: 100%;
  height: 160px;

  font-size: 1.5rem;
  font-weight: 700;
}

.mainNav .logo {
  position: absolute;
  top: 21px;
  left: 66px;
  width: 151px;
  height: 118.9px;
  line-height: 118.9px;
  text-align: center;

  display: inline-block;
  font-size: 48px;

  background-color: white;
  color: black;
  border: 1px solid black;

  border-radius: 50px;
}

.mainNav .logo:hover,
label:hover {
  cursor: pointer;
}

.mainNav nav {
  position: absolute;
  display: inline-block;
  top: 58px;
  right: 66px;
}

.mainNav nav li {
  list-style: none;
  display: inline-block;
  margin-right: 24px;
  color: black;
  border-bottom: black 1px solid;
}

.mainNav nav li:hover {
  border-color: white;
  cursor: pointer;
}

.mobileHeader {
  display: none;
}

@media (max-width: 900px) {
  .plantLogo{
    position: absolute;
    top: 30px;
    left: 40px;
  }
  .plantLogo img{
    max-height: 118px;
    max-width: 90px;
    object-fit: fill;
  }
  header {
    background-color: #ffffff;
    position: static;
    max-width: 900px;
    min-width: 0px;
    height: 600px;
  }

  .mainNav,
  s .mainNav nav,
  .mainNav .logo {
    display: none;
  }

  .mobileHeader {
    position: static;
    display: block;
    width: 100%;
    /* background-image: url("../../img/IMG_0100.PNG");
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: 50% 50%; */
  }

  .mobileHeader h1 {
    text-align: center;
    margin-bottom: 38px;
    font-size: 1.5rem;
    margin-top: 70px;
  }

  .mobileHeader p {
    display: inline-block;
    position: relative;
    text-align: center;
    max-width: 750px;
    left: 50%;
    transform: translate(-50%,0);
    width: 80%;
  }

  .pictureFrame {
    position: relative;
    top: 30px;
    left: 50vw;
    transform: translate(-50%, 0);
    overflow: hidden;
    width: 158px;
    height: 154px;
    border-radius: 77px;
  }
  .mobileHeader img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
