header {
  background-color: #ffffff;
  position:static;
  min-width: 850px;
}

.mainNav {
  position: relative;
  width: 100%;
  height: 160px;

  font-size: 1.5rem;
  font-weight: 700;
}

.mainNav .logo {
  position: absolute;
  top: 21px;
  left: 66px;
  width: 151px;
  height: 118.9px;
  line-height: 118.9px;
  text-align: center;

  display: inline-block;
  font-size: 48px;

  background-color: white;
  color: black;
  border: 1px solid black;

  border-radius: 50px;

}

.mainNav .logo:hover ,label:hover {
  cursor: pointer;
}

.mainNav nav {
  position: absolute;
  display: inline-block;
  top: 58px;
  right: 66px;
}

.mainNav nav li {
  list-style: none;
  display: inline-block;
  margin-right: 24px;
  color: black;
  border-bottom: black 1px solid;
}

.mainNav nav li:hover {
  border-color: white;
  cursor: pointer;
}
