header {
  background-color: #ffffff;
  position: static;
  min-width: 850px;
  height: 100%;
}

.mainNav {
  /* position: relative; */
  width: 100%;

  font-size: 1.5rem;
  font-weight: 700;
}

.mainNav .logo {
  position: relative;
  left: 5%;
  width: 150px;
  height: 120px;
  line-height: 118.9px;
  text-align: center;

  display: inline-block;
  font-size: 48px;

  background-color: white;
  color: black;

  border-radius: 50px;
}

.menuIcon{
  display: none;
}

.mainNav .logo:hover,
label:hover {
  cursor: pointer;
}

.mainNav nav {
  position: absolute;
  display: inline-block;
  top: 60px;
  transform: translate(0,-15px);
  right: 66px;
}

.mainNav nav li {
  position:relative; /*Just now added*/
  list-style: none;
  display: inline-block;
  margin-right: 24px;
  color: black;
  border-bottom: black 1px solid;
  padding-bottom:10px;
}

.mainNav nav li:hover {
  border-color: white;
  cursor: pointer;
}

.mobileHeader {
  display: none;
}

@media (max-width: 900px) {
  header {
    background-color: #ffffff;
    position: relative;
    max-width: 900px;
    min-width: 0px;
    padding: 20px;
  }

  .plantLogo{
    position: absolute;

    top:50%;
    transform: translate(0,-50%);

    height: 100px;
    object-fit: contain;
  }

  .plantLogo img{
    max-height: 100px;
    object-fit:cover;
  }

  .mainNav,
  s .mainNav nav,
  .mainNav .logo {
    display: none;
  }

  .mobileHeader {
    position: static;
    display: block;
    width: 100%;
    text-align: center;
  }

  .mobileHeader img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .logo{
    font-size: 4rem;
  }

  .menuIcon{
    position:absolute;
    display: inline-block;
    height: 40px;
    width: 40px;
    right: 30px;
    top:50%;
    transform: translate(0,-50%);
  }

  /* .menuIcon svg{
    height: 60px;
    width: 60px;
  } */
}
